In [2]:
import pandas as pd

In [7]:
data_22_1 = pd.read_excel('SWaT.A7_June 2020/22June2020_1.xlsx')
data_22_2 = pd.read_excel('SWaT.A7_June 2020/22June2020_2.xlsx')
data_29_1 = pd.read_excel('SWaT.A7_June 2020/29June2020_1.xlsx')
data_29_2 = pd.read_excel('SWaT.A7_June 2020/29June2020_2.xlsx')

In [8]:
data_22_2

,t_stamp,P1_STATE,LIT101.Pv,FIT101.Pv,MV101.Status,P101.Status,P102.Status,P2_STATE,FIT201.Pv,AIT201.Pv,...,FIT601.Pv,P601.Status,P602.Status,P603.Status,LSH601.Alarm,LSL601.Alarm,LSH602.Alarm,LSL602.Alarm,LSH603.Alarm,LSL603.Alarm
0,2020-06-22 09:00:00,1,602.412048,0,1,1,1,1,0.000384,54.633427,...,0.000256,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
1,2020-06-22 09:00:01,1,602.372800,0,1,1,1,1,0.000384,54.633427,...,0.000256,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
2,2020-06-22 09:00:02,1,602.215800,0,1,1,1,1,0.000384,54.633427,...,0.000256,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
3,2020-06-22 09:00:03,1,601.901800,0,1,1,1,1,0.000384,54.633427,...,0.000256,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
4,2020-06-22 09:00:04,1,601.901800,0,1,1,1,1,0.000384,54.633427,...,0.000256,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3595,2020-06-22 09:59:55,3,695.127100,0,1,1,1,2,0.000256,17.976160,...,0.000256,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
3596,2020-06-22 09:59:56,3,694.970100,0,1,1,1,2,0.000256,17.976160,...,0.000256,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
3597,2020-06-22 09:59:57,3,694.734558,0,1,1,1,2,0.000256,17.976160,...,0.000256,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
3598,2020-06-22 09:59:58,3,694.852300,0,1,1,1,2,0.000256,17.976160,...,0.000256,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
3599,2020-06-22 09:59:59,3,695.087800,0,1,1,1,2,0.000256,17.976160,...,0.000256,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active